body {
  background-color: #d1e4ff;
  /*margin: 30px; */
}
 div {
  background-color: #ffffff;
  width: 960px;
  margin: auto;
  padding: 30px 30px 65px 30px;
 }

.content {
  font-family: arial;
  font-size: 16px;
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px
}

mark {
  background-color: #ffff00;
}

blockquote {
  background-color: #eadcea;
  border-left: 4px solid;
  border-color: #b496b4;
  padding: 13px 90px 14px 32px;
  margin: 0;
}
pre {
  background-color: #f0e6d6;
  padding: 12px 87px 12px 14px;
}

table, th, td {
border: 1px solid #b496b4;
}

td {
  padding:9px 8px;

}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #eadcea;
  text-align: center;
}
code kbd samp {
 font-family: monospace;
}
code {
background-color: #f0e6d6;
}
kbd {
  background-color: #eadcea;
}
samp {
background-color: #eadcdc;
}
dt {

  font-weight: bold;
}
