body {
  background-color: #d1e4ff;
  /*margin: 30px; */
}

.content {
  background-color: #ffffff;
  width: 960px;
  margin: auto;
  padding: 30px 30px 65px 30px;
  font-family: arial;
  font-size: 16px;
}

.content h1 {
  font-size: 42px;
}
.content h2 {
  font-size: 36px;
}
.content h3 {
  font-size: 30px;
}
.content h4 {
  font-size: 26px;
}
.content h5 {
  font-size: 20px;
}
.content h6 {
  font-size: 16px
}

.content mark {
  background-color: #ffff00;
}

.content blockquote {
  background-color: #eadcea;
  border-left: 4px solid;
  border-color: #b496b4;
  padding: 13px 90px 14px 32px;
  margin: 0;
}

.content pre {
  background-color: #f0e6d6;
  padding: 12px 87px 12px 14px;
}

.content table, th, td {
border: 1px solid #b496b4;
}

.content td {
  padding:9px 8px;
}

.content table {
  width: 100%;
  border-collapse: collapse;
}

.content thead {
  background-color: #eadcea;
  text-align: center;
}

.content code, kbd, samp {
 font-family: monospace;
}

 .content code {
background-color: #f0e6d6;
}

.content kbd {
  background-color: #eadcea;
}

.content samp {
background-color: #eadcdc;
}

.content dt {
  font-weight: bold;
}
